# Node
node_modules/
.env
.env.*
dist/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.log
*.lock

# OS
.DS_Store
Thumbs.db

# Firebase Credentials
backend/config/*.json
mobile/powerhouse_app/android/app/google-services.json
mobile/powerhouse_app/ios/Runner/GoogleService-Info.plist
